@media (min-width: 768px) and (max-width: 1024px) {
  .projects__main {
    grid-template-columns: 1fr;
  }

  .skill-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer {
    display: none;
  }

  .header .aboutme nav {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
}


