@media (min-width: 768px) and (max-width: 1024px) {
  .projects {
    padding-left: 10rem;

    & .projects__main {
      grid-template-columns: 1fr;
    }

  }

  .skills {
    padding-left: 3rem;

    & .skill-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .footer {
    height: 29rem;
    width: 1000px;

    & p {
      display: none;
    }
  }

  .profile {
    width: 600px;
  }

  .section {
    padding-left: 10rem;
  }
}


