/* -------- global styles -------------------- */
:root {
  --color-dark: #131527;
  --color-dark-200: #1B1D32;
  --color-dark-100: #3F3D56;
  --color-pink: #F94370;
  --color-pink-200: #F96F91;
  --color-pink-100: #FDD9E2;
  --color-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-size: 1.6rem;
  color: var(--color-white);
}

/* -------------- font styles ----------------- */
.font-title {
  font-weight: 500;
  font-size: 4rem;
}

.font-subtitle {
  font-weight: 500;
  font-size: 3rem;
}

.font-paragraph {
  font-weight: 500;
  font-size: 2rem;
}

/* --------------- Header component ------------ */
.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.header__line {
  width: 7.6rem;
  height: 0.5rem;
  background-color: var(--color-pink);
  border-radius: 1rem;
  margin: 0 0 1rem 1.6rem;
}


/* --------- about me section ----------------------*/
.aboutme {
  background: var(--color-dark);
  display: grid;
  grid-template-rows: 5rem calc(100vh - 5rem);
  height: 100vh;
}

.aboutme__main {
  display: grid;
  grid-template-rows: 20rem auto 10rem 20rem;
}

.aboutme__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme__logo img {
  width: 12rem;
  height: 12rem;
}

.aboutme__section  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme__section p {
  text-align: center;
}

.aboutme__section p span {
  color: var(--color-pink);
}

.aboutme__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme__button-contact {
  border: none;
  width: 18rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--color-pink);
}

.aboutme__sheet-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo-sheet {
  width: 12rem;
  height: 12rem;
}

/* --------- skills section ----------------------*/
.skills {
  display: grid;
  grid-template-rows: 5rem calc(100vh - 5rem);
  background: var(--color-dark-200);
}

.skills__main {
  display: grid;
  grid-template-rows: auto 20rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 10rem auto;
  align-items: center;
}

.skills-container__list {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.skills-container__list li {
  background: var(--color-pink-100);
  color: var(--color-pink);
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__pink2 {
  width: 15.5rem;
  height: 30.2rem;
  margin-left: -5rem;
}

.skills__icon-container{
  display: grid;
  grid-template-columns: 10rem auto;
  align-items: center;
}

.skills__icon-container figure {
  display: flex;
  justify-content: right;
}

.icon__pink {
  width: 15rem;
  height: 20rem;
  margin-left: -5rem;
}

.icon__pink1 {
  width: 15rem;
  height: 20rem;
}

/* --------- projects section ----------------------*/
.projects {
  display: grid;
  grid-template-rows: 5rem calc(100vh - 5rem);
  background: var(--color-dark);
}

.projects__main {
  display: grid;
  grid-template-rows: auto 40rem;
}

.projects-container__teashop {
  position: relative;
}

.projects-image__teashop {
  width: 20rem;
  height: 20rem;
  position: absolute;
  margin: 7rem 5rem 4rem 5rem;
}

.projects-button__teashop {
  border: none;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  background: var(--color-pink);
  color: var(--color-white);
  position: absolute;
  margin: 15rem 9rem 15rem 11rem;
}

.projects-container__blog {
  position: relative;
}

.projects-container__image-blog {
  width: 20rem;
  height: 20rem;
  background: var(--color-pink-200);
  border-radius: 1rem;
  position: relative;
  margin: 7rem 5rem 4rem 5rem;
}

.projects-image__blog {
  width: 20rem;
  height: 20rem;
  position: absolute;
  margin: 0.5rem 5rem 4rem 5rem;
}

.projects-button__blog {
  border: none;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  background: var(--color-pink);
  color: var(--color-white);
  /* position: absolute; */
  /* margin: 0rem 4rem 10rem 6.5rem; */
}
/* --------------contact section----------------------- */

.contact {
  display: grid;
  grid-template-rows: 5rem calc(100vh - 5rem);
  background: var(--color-dark);
}
